/*Home.css*/
.container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.movies{
    display: grid;
    grid-template-columns: repeat(2,minmax(400px,1fr));
   /* grid-template-columns: repeat(2열,minmax(400px최소크기 ,1fr 1:1 ));*/
    grid-gap:100px;
    /*그리드 사이의 갭 100px*/
    padding: 50px;
    width: 80%;
    padding-top: 70px;
}

/*모바일 버전에서는 1열로 바뀜*/
@media screen and (max-width:767px){/*0~767*/
    .movies{
        grid-template-columns: 1fr;
        width: 100%;
    }
}